<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [37]:
%%sql
SELECT *,
      100 * net_revenue / daily_net_revenue AS pct_daily_revenue
FROM(
SELECT
  orderdate,
  customerkey,
  orderkey * 10 + linenumber AS order_line_number,
  (quantity * netprice * exchangerate) AS net_revenue,
  SUM(quantity * netprice * exchangerate) OVER(PARTITION BY orderdate) AS daily_net_revenue
FROM
  sales
) AS revenue_by_day

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,orderdate,customerkey,order_line_number,net_revenue,daily_net_revenue,pct_daily_revenue
0,2015-01-01,947009,10000,63.49,11640.80,0.55
1,2015-01-01,947009,10001,423.28,11640.80,3.64
2,2015-01-01,1772036,10010,108.75,11640.80,0.93
3,2015-01-01,1518349,10020,1146.75,11640.80,9.85
4,2015-01-01,1518349,10021,950.25,11640.80,8.16
...,...,...,...,...,...,...
199868,2024-04-20,664396,33980341,914.61,96879.43,0.94
199869,2024-04-20,664396,33980342,150.18,96879.43,0.16
199870,2024-04-20,267690,33980350,147.78,96879.43,0.15
199871,2024-04-20,267690,33980351,2019.62,96879.43,2.08
199872,2024-04-20,267690,33980352,56.83,96879.43,0.06

In [64]:
%%sql
WITH yearly_cohort AS (
SELECT
  DISTINCT customerkey,
  EXTRACT(YEAR FROM MIN(orderdate) OVER(PARTITION BY customerkey)) AS cohort_date
FROM sales)
SELECT y.cohort_date,
       EXTRACT(YEAR FROM s.orderdate) AS order_year,
       SUM(s.quantity * s.netprice * s.exchangerate) AS net_revenue
FROM sales s
LEFT JOIN yearly_cohort y ON s.customerkey = y.customerkey
GROUP BY
       EXTRACT(YEAR FROM s.orderdate),
        y.cohort_date
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_date order_year  net_revenue
0        2015       2015   7370979.48
1        2015       2016    392623.48
2        2016       2016   9990990.20
3        2015       2017    479841.31
4        2016       2017    497028.11
5        2017       2017  12244469.63
6        2015       2018   1069850.87
7        2016       2018   1074607.29
8        2017       2018   1407065.13
9        2018       2018  21115924.55